.newprice{
    position: relative;
    top: 250px;
    display: flex;
    background-color: transparent;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-bottom: 150px;
}

.pricing{
    font-size: 52px;
}

.update{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 30%;
    align-items: center;
    background-position: center;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
}


select{
    color: white;
    background: #1D1C20;
    height: 32px;
    width: 50%;
    border: none;
    border-radius: 12px;
}

input{
    color: white;
    background: #1D1C20;
    height: 28px;
    width: 50%;
    border: none;
    border-radius: 12px;
}

button{
    width: 50%;
    height: 28px;
    border: none;
    color: white;
    border-radius: 12px;
    background: #1D1C20;
}

button:hover{
    background-color: rgba(251, 251, 251, 0.221);
}