{% extends "base.html" %}

{% block body%}


    <br>
    <br>
    <br>
    <br>

    <div class="seamless">
        <p class="maintitle">Seamless Intuitive. Iconic.</p>
        <p class="sidetitle">Discover the art of simlicity, intricately woven into every design element</p>
        <form action="/subscriptions">
            <button class="Embrace">   <img class="apple" src="/static/ Pay (1).svg" alt="">  <p class="buttoninfo">Embrace the future</p>   </button>
        </form>
        
    </div>

        <div class="main">
            <div class="firstdiv">
                
                <div class="logo">
                    <div class="logoslogo">
                        <img src="/static/design icon.svg" alt="">
                    </div> 
                    
                </div>
                <div class="logoinfo">
                    <p class="sync">Sync your designs via iCloud</p>
                    <p class="letai letai1">Don’t even worry about the complications of transition. We’ve got your back.</p>
                    <button class="trynow">Try now</button>
                </div>
            </div>

            <div class="seconddiv">

                <div class="logo">
                    <div class="logoslogo">
                    <img src="/static/AI icon.svg" alt="">
                </div> 
                
            </div>
                <div class="logoinfo">
                    <p class="sync">Let AI take control of tedious work</p>
                    <p class="letai letai2">Naming. framing, changing colors - all that technical stuff you hate to do - WE GOT YOU!</p>
                    <button class="trynow">Try now</button>
                </div>
            </div>
        </div>

        
{% endblock %}
